<div class="list-group ">
  <a routerLink="./registro"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Registrar Nuevo Usuario </a>
  <a routerLink="./listaEstudiantes"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Lista Info usuarios Con redux
  </a>
  <a href="#" routerLink="./listaUsuarios"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Lista Info Usuarios Editar y eliminar
  </a>

  <!-- routerLink="/login" -->
  <a (click)="cerrarSesion()"
    class="list-group-item list-group-item-action bg-danger text-light list-group-item-primary">
    Cerrar Sesión</a>
</div>
