<div class="list-group ">
  <a routerLink="./registro"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Registrar Nuevo Usuario </a>
  <a routerLink="./listaEstudiantes"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Lista Info Estudiantes
  </a>
  <a href="#" routerLink="./listaEstudiantes/Administrador"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Lista Info Administradores
  </a>


  <a routerLink="/login" class="list-group-item list-group-item-action bg-danger text-light list-group-item-primary">
    Cerrar Sesión</a>
</div>
