<div class="contenedorToolBar">
  <div class="contenedorLogo">
    <app-logo></app-logo>
  </div>
  <div class="toolBar">
    <div>
      <img class="imgTools" src="https://cdn-icons-png.flaticon.com/512/3839/3839020.png" alt="">
      <h4>Filtrar</h4>
      <!--Filtrar por materia, edad, salon, promedio, perdido, aprobado-->
    </div>
    <div>
      <img class="imgTools" src="https://cdn-icons-png.flaticon.com/512/795/795724.png" alt="">
      <h4>Buscar</h4>
    </div>
    <div>
      <img class="imgTools" src="https://cdn-icons-png.flaticon.com/512/10413/10413730.png" alt="">
      <h4>Ordenar</h4>
    </div>
    <div>
      <img class="imgTools" src="	https://cdn-icons-png.flaticon.com/512/2948/2948037.png" alt="">
      <h4>Más</h4>
      <!--Como lo es:  (?) , seleccionar estudiante aleatorio -->
    </div>
  </div>

</div>
